<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Login user</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-xs-60 col-sm-8 col-md-6 col-lg-5">
          <div class="card">
            <form method="POST">
              {% csrf_token %}
              <div class="card-header">
                <h5 class="card-title">Login</h5>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="">username</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Usrname"
                    id="username"
                    name="username"
                  />
                </div>
                <div class="form-group">
                  <label for="">password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    id="password"
                    name="pass"
                  />
                </div>
                <button class="btn btn-outline-success form-control">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
